@import url('https://fonts.cdnfonts.com/css/rammetto-one');

body {
    background-color: #333;
    color:  #fff;
    font-family: 'Rammetto One' ;
    text-align: center;
}

h1 {
    font-size: 99999;
    margin-top: 300px;
}