@import url('https://fonts.cdnfonts.com/css/rammetto-one');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rammetto One';
    background-color: #333;
}

@media (max-width: 768px) {
    body {
      text-align: center;
    }
    #buttons {
        flex-direction: column;
        align-items: center; /* Center buttons horizontally */
    }

    .button {
        width: 100%; /* Take full width on smaller screens */
        margin: 0.5rem 0; 
        flex-basis: 100%;/* Add margin to create spacing between buttons */
    }
}


#hero {
    background-color: #F3F4F5;
    color: #333;
    text-align: center;
    padding: 5rem 0;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    opacity: 0.8;
}

#projects {
    background-color: #333;
    padding-bottom: 0%;
}

#projects #h2 {
    margin: 2rem;
    color: #F3F4F5;
}

.project {
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 2rem; 
    border-radius: 10px;
    margin: 2rem;
    margin-bottom: rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.project p {
    opacity: 0.8;
}

#hreflink {
    color: black;
    text-decoration: none;
}

.showmore {
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 1rem; 
    border-radius: 10px;
    margin: 2rem;
    margin-bottom: rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.showmore h3 {
    font-size: 1.5rem;
}

.showmore:hover {
    transform: translateY(-5px);
}

#buttons {
    background-color: #F3F4F5;
    padding: 2rem 0; /* Add some vertical spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow flex items to wrap when they can't fit in a row */
}

.button {
    text-decoration: none;
    background-color: #333;
    color: #F3F4F5;
    padding: 1rem; 
    border-radius: 10px;
    margin: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 280px; 
    text-align: center;
}

.button:hover {
    transform: translateY(-5px);
}

.button h3 {
    font-size: 1.5rem;
}

#hreflink {
    color: black;
    text-decoration: none;
}
